chromadb
langchain
langchain-community
python-dotenv
openai
tiktoken
langchain-openai
langchain-chroma
langchain-ollama
langchain-core
langchain-huggingface
streamlit
python-docx
bs4
sentence-transformers
docx2txt
groq
langchain-groq
ollama
pymupdf
transformers>=4.48